<nav class="navbar navbar-expand-md navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<!--   <a class="navbar-brand" href="#">Navbar</a> -->
<a href="/"> <%= image_tag 'logo-nav', id:"logo-mobile" %> </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to "Accueil", root_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Présentation", construction_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Nos produits", produits_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Ateliers", ateliers_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", new_contact_path, class:"nav-link" %>
      </li>
    </ul>
      <a target="_blank" href="https://www.facebook.com/lulubio47/">
    <i class="fab fa-facebook" style="font-size: 30px; margin-right: 15px"></i>
  </a>
  </div>

  <% if user_signed_in? %>
    <%= link_to('Se déconnecter', destroy_user_session_path, method: :delete) %>
  <% end %>
</nav>
