<div class="container home-container">

  <div class="banner">
    <%= image_tag "logo" %>
  </div>

  <div class="info">

    <p><i class="fas fa-map-marker-alt"></i>55, Grande Rue - 47700 Casteljaloux</p>

    <p><i class="fas fa-clock"></i>Ouvert du mardi au samedi <br> 09h - 12h30 / 14h30 - 19h</p>

    <p><i class="fas fa-phone"></i>05 53 94 18 96</p>

  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= link_to presentation_path, :action => 'go' do %>
        <div class="card" id="presentation">
          <div class="layer">
            <h3>Présentation</h3>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= link_to produits_path, :action => 'go' do %>
        <div class="card" id="produits">
          <div class="layer">
            <h3>Nos produits</h3>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= link_to ateliers_path, :action => 'go' do %>
        <div class="card" id="ateliers">
          <div class="layer">
            <h3>Ateliers</h3>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= link_to new_contact_path, :action => 'go' do %>
        <div class="card" id="contact">
          <div class="layer">
            <h3>Contact</h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


