<div class="wrapper">
  <h1>Modifier un atelier</h1>
</div>

<div class="container">
  <%= form_for(@atelier) do |f| %>

    <%= f.label "Nom de l'atelier" %><br />
    <%= f.text_field :name, required:true, class: 'form-control' %>

    <%= f.label "Date de l'atelier" %><br />
    <%= f.datetime_field :date, required:true, class: 'form-control' %>

    <%= f.label "Description de l'atelier" %><br />
    <%= f.text_area :description, required:true, class: 'form-control' %>

    <%= f.submit "Modifier l'atelier", class: 'btn btn-success' %>

<% end %>
</div>
